In [4]:
import pandas as pd
import pymysql
import sys
import glob
import os
from hdfs import InsecureClient

In [18]:
client_hdfs = InsecureClient(url='http://10.110.1.11:9870',user="wy")

In [ ]:
sample_key = sys.argv[1]
sample_name = sys.argv[2]
project = sys.argv[3]
data_version = sys.argv[4]

In [8]:
# sample_key = "test1"
# sample_name = "test1"
# project = "test"
# os.chdir("/ssd1/wy/workspace2/test/test_workspace/output/bracken/test_s1")

In [7]:
content_path = f"/workspace/{project}/{data_version}/kraken/{sample_key}.tsv"

In [9]:
file_list = glob.glob("*.kraken.tsv")

In [10]:
file_list

['test_s1.P.kraken.tsv',
 'test_s1.G.kraken.tsv',
 'test_s1.C.kraken.tsv',
 'test_s1.K.kraken.tsv',
 'test_s1.O.kraken.tsv',
 'test_s1.F.kraken.tsv',
 'test_s1.D.kraken.tsv',
 'test_s1.S.kraken.tsv',
 'test_s1.S1.kraken.tsv']

In [11]:
def read_kraken(file):
    df = pd.read_csv(file,sep="\t")
    df['relative_abundance'] = df.apply(lambda x: (x['new_est_reads']/sum( df['new_est_reads']))*100  ,axis=1)
    return df

In [12]:
df_list = [ read_kraken(file) for file in  file_list]

In [13]:
def rename_taxonomy_lvl(name):
    if name=='D':
        return "DOMAIN"
    elif name=="S":
        return "SPECIES"
    elif  name=="G":
        return "GENUS"
    elif  name=="F":
        return "FAMILY"
    elif  name=="O":
        return "ORDER"
    elif  name=="C":
        return "CLASS"
    elif  name=="P":
        return "PHYLUM"
    elif  name=="K":
        return "KINGDOM"
    elif  name == "S1":
        return "SGB"

In [83]:
# sum(df_list[1]['fraction_total_reads'])
# sum(df_list[1]['relative_abundance'])

In [ ]:
# 域（Domain）、界（Kingdom）、门（Phylum）、纲（Class）、目（Order）、科（Family）、属（Genus）、种（Species）
# k__Bacteria|p__Fusobacteria|c__Fusobacteriia|o__Fusobacteriales|f__Fusobacteriaceae|g__Fusobacterium|s__Fusobacterium_nucleatum|t__SGB6001

In [14]:
df_kraken = pd.concat(df_list, axis=0, ignore_index=True)
df_kraken['rank'] = df_kraken.apply(lambda x:rename_taxonomy_lvl( x['taxonomy_lvl']) ,axis=1)
df_kraken = df_kraken.rename({"name":"taxonomy","taxonomy_id":"tax_id"},axis=1)[['taxonomy','tax_id','rank','relative_abundance','kraken_assigned_reads','new_est_reads']]
df_kraken

,taxonomy,tax_id,rank,relative_abundance,kraken_assigned_reads,new_est_reads
0,Bacteroidota,976,PHYLUM,45.821695,43943,43965
1,Fusobacteriota,32066,PHYLUM,36.266519,34661,34797
2,Bacillota,1239,PHYLUM,9.908492,9331,9507
3,Actinomycetota,201174,PHYLUM,0.429399,412,412
4,Mycoplasmatota,544448,PHYLUM,0.017718,17,17
...,...,...,...,...,...,...
333,Neisseria elongata subsp. glycolytica,88719,SGB,0.301556,38,168
334,Neisseria sp. oral taxon 014 str. F0314,641149,SGB,0.556443,51,310
335,Neisseria macacae ATCC 33926,997348,SGB,0.850819,28,474
336,Aggregatibacter aphrophilus NJ8700,634176,SGB,0.280017,20,156
337,Aggregatibacter aphrophilus ATCC 33389,985008,SGB,0.326686,13,182

In [20]:
# df_kraken['rank'].value_counts()
# df_kraken['taxonomy_lvl'].value_counts()
print(df_kraken['rank'].value_counts())

rank
SPECIES    133
GENUS       59
FAMILY      44
SGB         36
ORDER       31
CLASS       21
PHYLUM      11
DOMAIN       2
KINGDOM      1
Name: count, dtype: int64

In [25]:
print(content_path)
with client_hdfs.write(content_path, encoding = 'utf-8', overwrite=True) as writer:
  df_kraken.to_csv(writer,sep="\t",index=False)

/workspace/test/kraken/test1.tsv

In [22]:
insert_sql = """
INSERT INTO abundance (sample_key, sample_name,project, content_path,software,data_version)
VALUES (%s,%s, %s,%s,%s,%s)
ON DUPLICATE KEY UPDATE 
    sample_name = VALUES(sample_name), 
    project = VALUES(project), 
    software = VALUES(software), 
    data_version = VALUES(data_version), 
    content_path = VALUES(content_path);
"""
print(insert_sql)

INSERT INTO abundance (sample_key, sample_name,project, content_path,software)
VALUES (%s,%s, %s,%s,%s)
ON DUPLICATE KEY UPDATE
    sample_name = VALUES(sample_name),
    project = VALUES(project),
    software = VALUES(software),
    content_path = VALUES(content_path);

In [23]:
conn = pymysql.connect(
    host='10.110.1.11',    
    user='root',         
    password='123456',   
    database='pipeline',  
    port=53306,         
)
cursor = conn.cursor()
data = (sample_key,sample_name,project,content_path,"kraken",data_version)
cursor.execute(insert_sql, data) 
conn.commit()

In [ ]:
conn.close()