In [42]:
import pandas as pd
import pymysql
import sys
from hdfs import InsecureClient
from io import TextIOWrapper
import pyarrow.fs as fs
from io import BytesIO
from io import StringIO

In [ ]:
file_path = sys.argv[1]
sample_key = sys.argv[2]
sample_name = sys.argv[3]
project = sys.argv[4]
data_version = sys.argv[5]

In [58]:
# file_path = "/ssd1/wy/workspace2/test/test_workspace/output/metaphlan/test_s1/test_s1_profile.txt"
# sample_key = "test1"
# sample_name = "test1"
# project = "test"

In [59]:
content_path = f"/workspace/{project}/{data_version}/metaphlan/{sample_key}.tsv"

In [31]:
# pd.read_parquet('hdfs:///aaa/helloworld.csv')

In [32]:
# hdfs = fs.HadoopFileSystem(host='10.110.1.11', port=9870)

In [60]:
client_hdfs = InsecureClient(url='http://10.110.1.11:9870',user="wy")

In [47]:
# client_hdfs.list('/aaa')

In [5]:
# client_hdfs.makedirs('/efg')
# client_hdfs.list('/')
# client_hdfs.upload(hdfs_path='/abc', local_path='/data/wangyang/nf_work/hexiaoyan/89/d4010b5a5212c77e463ba5d1e621dd/F-30-068_marker_counts.txt')  # 注意目录使用的是正斜杠/，而不是反斜杠\

'/abc/F-30-068_marker_counts.txt'

In [49]:
# liste_hello = ['hello1','hello2']
# liste_world = ['world1','world2']
# df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})

# To write a Dataframe to HDFS.
# with client_hdfs.write('/aaa/helloworld.csv', encoding = 'utf-8', overwrite=True) as writer:
#   df.to_csv(writer)

In [45]:
# with client_hdfs.read("/aaa/helloworld.csv", encoding='utf-8') as reader:
#     data = reader.read()  # 读到内存
#     # print(data)
#     df_read = pd.read_csv(StringIO(data)) 
# df_read
#     # bio = BytesIO(data)
#     # print(bio)
# #     print(TextIOWrapper(reader))
# #     df_read = pd.read_csv(TextIOWrapper(reader))  # 需包装为文本流:ml-citation{ref="4,8" data="citationList"}
# # # df_read

In [155]:
# if len(sys.argv)<3:
#     print(111)
#     exit()

In [61]:
print(sys.argv)

['/opt/conda/lib/python3.11/site-packages/ipykernel_launcher.py', '-f', '/home/jovyan/.local/share/jupyter/runtime/kernel-12416933-77a4-439c-bc6f-223dcfa1c223.json']

In [147]:
# !pwd

/ssd1/wy/workspace2/nextflow/bin

In [62]:
def get_last(clade_name):
    clade_name_list = clade_name.split('|')
    return clade_name_list[len(clade_name_list)-1]
def set_rank(taxonomy):
    if taxonomy.startswith("t__"):
        return "SGB"
    if taxonomy.startswith("s__"):
        return "SPECIES"
    elif  taxonomy.startswith("g__"):
        return "GENUS"
    elif  taxonomy.startswith("f__"):
        return "FAMILY"
    elif  taxonomy.startswith("o__"):
        return "ORDER"
    elif  taxonomy.startswith("c__"):
        return "CLASS"
    elif  taxonomy.startswith("p__"):
        return "PHYLUM"
    elif  taxonomy.startswith("k__"):
        return "KINGDOM"
def rename_taxonomy(taxonomy):
    if taxonomy.startswith("t__"):
        return taxonomy.replace("t__","").replace("_"," ")
    if taxonomy.startswith("s__"):
        return taxonomy.replace("s__","").replace("_"," ")
    elif  taxonomy.startswith("g__"):
        return taxonomy.replace("g__","").replace("_"," ")
    elif  taxonomy.startswith("f__"):
        return taxonomy.replace("f__","").replace("_"," ")
    elif  taxonomy.startswith("o__"):
        return taxonomy.replace("o__","").replace("_"," ")
    elif  taxonomy.startswith("c__"):
        return taxonomy.replace("c__","").replace("_"," ")
    elif  taxonomy.startswith("p__"):
        return taxonomy.replace("p__","").replace("_"," ")
    elif  taxonomy.startswith("k__"):
        return taxonomy.replace("k__","").replace("_"," ")

In [36]:
# 域（Domain）、界（Kingdom）、门（Phylum）、纲（Class）、目（Order）、科（Family）、属（Genus）、种（Species）
# k__Bacteria|p__Fusobacteria|c__Fusobacteriia|o__Fusobacteriales|f__Fusobacteriaceae|g__Fusobacterium|s__Fusobacterium_nucleatum|t__SGB6001

In [63]:
df_metaphlan = pd.read_csv(file_path ,sep="\t",comment="#",header=None)
# df_metaphlan = pd.read_csv("/ssd1/wy/workspace2/test/test_workspace/output/metaphlan/test_s1/test_s1_profile.txt",sep="\t",comment="#",header=None)

In [64]:
df_metaphlan.columns = ["clade_name","ncbi_tax_id","relative_abundance","additional_species"]
df_metaphlan['taxonomy'] = df_metaphlan.apply(lambda x : get_last(x['clade_name']) ,axis=1)
df_metaphlan['tax_id'] = df_metaphlan.apply(lambda x : get_last(x['ncbi_tax_id']) ,axis=1)
df_metaphlan['rank'] = df_metaphlan.apply(lambda x : set_rank(x['taxonomy']) ,axis=1)

df_metaphlan['taxonomy'] = df_metaphlan.apply(lambda x : rename_taxonomy(x['taxonomy']) ,axis=1)
df_metaphlan = df_metaphlan[['taxonomy','tax_id','rank','relative_abundance','additional_species']]
df_metaphlan

,taxonomy,tax_id,rank,relative_abundance,additional_species
0,Bacteria,2,KINGDOM,100.00000,NaN
1,Bacteroidota,976,PHYLUM,63.49484,NaN
2,Fusobacteria,32066,PHYLUM,21.80173,NaN
3,Firmicutes,1239,PHYLUM,13.94820,NaN
4,Candidatus Absconditabacteria,221235,PHYLUM,0.75523,NaN
...,...,...,...,...,...
75,SGB95409,,SGB,0.96208,NaN
76,SGB6826,,SGB,0.80630,NaN
77,SGB6891,,SGB,0.75523,NaN
78,SGB6069,,SGB,0.73259,NaN
79,SGB4503,,SGB,0.45314,NaN

In [76]:
print(content_path)

/workspace/test/metaphlan/test1.tsv

In [75]:
with client_hdfs.write(content_path, encoding = 'utf-8', overwrite=True) as writer:
  df_metaphlan.to_csv(writer,sep="\t",index=False)

In [67]:
# df_metaphlan['rank'].value_counts()
# df_metaphlan[df_metaphlan['rank']=='SPECIES']['relative_abundance'].sum()
print(df_metaphlan.groupby("rank")['relative_abundance'].sum())

rank
CLASS      100.00000
FAMILY     100.00000
GENUS       99.99999
KINGDOM    100.00000
ORDER      100.00000
PHYLUM     100.00000
SGB         99.99999
SPECIES     99.99999
Name: relative_abundance, dtype: float64

In [88]:
# df_metaphlan.to_json()

In [89]:
# insert_data = [(row['sample_key'],row['sample_name'],row['fastq1'],row['fastq2'],"leipu_meta") for index,row in df_fastq.iterrows()]
# insert_data
# print()

In [77]:
insert_sql = """
INSERT INTO abundance (sample_key, sample_name,project, content_path,software,data_version)
VALUES (%s,%s, %s,%s,%s,%s)
ON DUPLICATE KEY UPDATE 
    sample_name = VALUES(sample_name), 
    project = VALUES(project), 
    software = VALUES(software), 
    data_version = VALUES(data_version), 
    content_path = VALUES(content_path);
"""
print(insert_sql)

INSERT INTO abundance (sample_key, sample_name,project, content_path,software)
VALUES (%s,%s, %s,%s,%s)
ON DUPLICATE KEY UPDATE
    sample_name = VALUES(sample_name),
    project = VALUES(project),
    software = VALUES(software),
    content_path = VALUES(content_path);

In [78]:
conn = pymysql.connect(
    host='10.110.1.11',    
    user='root',         
    password='123456',   
    database='pipeline',  
    port=53306,         
)
cursor = conn.cursor()
data = (sample_key,sample_name,project,content_path,"metaphlan",data_version)
cursor.execute(insert_sql, data) 
conn.commit()

In [110]:
# conn.close()

In [138]:
# cursor.execute("SELECT * FROM abundance where sample_key=%s",("test_s1_profile"))
# rows = cursor.fetchall()
# # rows.content
# # columns = [desc[0] for desc in cursor.description] 
# # pd.DataFrame(rows,columns=columns)
# # pd.DataFrame()

# pd.read_json(rows[0][4])

In [139]:
conn.close()

In [163]:
# df_metaphlan.to_json(orient="records")